body {
    margin: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    /* margin: 0; */
}

.parent {
    padding: 10px;
    /* border: 1px solid indianred; */
    display: flex;
    padding: 0;
}

.parent span {
    /* border: 4px solid cadetblue; */
    height: 200px;
    width: 200px;
    flex-grow: 0.375;
    flex-shrink: 1.5;
}

.parent p {
    /* border: 4px solid darkkhaki; */
    width: 400px;
    /* height: 200px; */
    flex-grow: 0.25;
    flex-shrink: 1;
}

.parent a {
    /* height: 200px; */
    width: 400px;
    /* border: 4px solid yellowgreen; */
    flex-grow: 0.375;
    flex-shrink: 1.5;
}